* {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
}
h1 {
    text-align: center;
}
body {
    background-color: rgb(231, 233, 232);
}
section {
    border: 2px solid black;
    background-color: rgb(232, 203, 169);
    height: auto;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: 30px;
    color: black;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 20px;
    position: relative;
    text-align: justify;
    font-family: serif;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 150px;
    padding: 2px;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    font-weight: bold;
    background-color: rgb(201, 131, 69);
}

/********** Responsive web design **********/


.row {
    width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
    section {
        float: left;
    }
    #s1, #s2 {
        width: 45.5%;
    }
    #s2 {
        margin-left: 0px;
    }
    #s3 {
        width: 94%;
    }
  }
  @media (min-width: 992px) {
    section{
        float: left;
        width: 29.33%;
    }
    #s2 {
        margin-left: 0px;
        margin-right: 0px;
    }

  }
